#b{
  width: 30px;
  height :30px;
  border-radius: 50%;
  background-color: skyblue;
  padding: 10px;
  position: absolute;
}
.main{
  display: flex;
  justify-content: space-between;
  
}
#a{
  margin-left: 60px;
  margin-top: 7px;
  font-weight: bold;
}
span{
  opacity :0.3;
}
img{
  width: 30px;
  height: 30px;
  
}
