  .top{
  display :flex;
  justify-content: space-around;
  
  font-weight: bold;
  opacity:0.5;
  
}
.b{
  
  text-align: center;
  
 
}

.up{
  
 display :flex;
 
 justify-content: space-around;
 font-weight: bold;
 
 
  
  
 
  
}
.top1{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eef2f4;
  border-radius: 20px;
}
.btm{
 
 
  display: flex;
  justify-content: space-between;
  background-color:  ghostwhite;
  border-radius: 15px;
  
}
.bottom{
  height:30px;
  width: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  
}


h1{
  font-size: 15px;
}
#blue{
  color: #3d60e4;
  
} 
.coin{
  display: flex;
  justify-content: space-around;
  margin: 15px;
  font-weight: bold;
}
.imgs{
  width: 25px;
  margin-right: 0px;
  height 25px;
border-radius: 50%;
margin-top:10px;
margin-bottom:10px;


}
li{
  display :flex;
  justify-content:space-evenly;
  
}
table{
  
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  
  
  
  border-spacing: 0 15px;
 
  
 
}
td{
  text-align: centre;
  
  font-weight: bold;
  margin-left: 20px;
}
button{
  padding-top: 7px;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 7px;
  background-color: #defbef;
  color:#25be83 ;
  font-weight: bold;

  
  border: none;
  border-radius: 10px;
}


table{
  margin-top: -50px;
  
  margin-right:20px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-spacing: 10px;
}
#pad{
  margin-left: 0px;
  border-radius: 10px 0px 0px 10px;
}
#last{
  border-radius: 0px 10px 10px 0px;
}
th{
  text-align:centre;
}

.row{
  margin-bottom: 50px;
}

.down{
  background-color:#fbdfe1 ;
  color: #da4b54;
}


.nav{
  
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  
  
 
  
}
.user{
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 30px;
  margin-right: 0px;
  
  
  
 
  
  
}
.bars{
  height :30px;
}
#down1{
  color:#da4b54;
}
input{
  
  border-radius: 20px;
  border: none;
  margin-left: 20px;
}
 .input-icons i { 
   margin-left: 20px;

            position: absolute; 

        } 

          

        .input-icons { 

            width: 100%; 

            margin-bottom: 0px; 

        } 

          

        .icon { 

            padding: 10px; 

            min-width: 40px; 

        } 

          

        .input-field { 

            width: 70%; 

            padding: 10px; 

            text-align: left; 

        } 

.footer{
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: white;
  display: flex;
  justify-content: space-around;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
margin-bottom: 0px;
background-color: lightyellow;
background-color: #FFDF00;
/*backdrop-filter: blur(15px);

background:rgba(225,225,225,0.1);
*/



}
.foot{
  
  
  width: 30px;
  height:30px;
  
}
.p2p{
  display:flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  background-color: #f9d237;
}
.p2p1{
  margin-bottom: 10px;
  font-weight: bold;
}
.p2p2{
  opacity: 0.5;
}
.main{
  
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
.invite{
  height: 30px;
  width: 30px;
  
}
.row3{
  margin-top: 5px;
  font-weight: 600;
  opacity: 0.7;
}
.mySlides{
  border-radius: 12px;
  height: 170px;
 
}
.push{
  width: 40px;
  height: 40px;
  margin-top: 0px;
}
body{
font-family: 'Noto Sans Display', sans-serif;
}
.p2p {
  margin-top: -40px;
}
#nn{
  width: 30px;
  height:30px;
}
